[Unit]
Description=Project Zomboid 41.6x server

[Service]
Type=simple
Restart=always
RestartSec=3
User=${username}
WorkingDirectory=/home/${username}/zomboid
Environment=PATH=/home/${username}/zomboid/jre64/bin:$$PATH
Environment=LD_LIBRARY_PATH=/home/${username}/zomboid/linux64:/home/${username}/zomboid/natives:/home/${username}/zomboid/:/home/${username}/zomboid/jre64/lib/amd64:$$LD_LIBRARY_PATH
ExecStartPre=aws s3 sync s3://${bucket}/${server_name}/db /home/${username}/Zomboid/db --delete
ExecStartPre=aws s3 sync s3://${bucket}/${server_name}/Save /home/${username}/Zomboid/Saves/Multiplayer/${server_name} --delete
ExecStart=/home/${username}/zomboid/start-server.sh -adminpassword supersecret -servername ${server_name}
ExecStop=aws s3 sync /home/${username}/Zomboid/Saves/Multiplayer/${server_name} s3://${bucket}/${server_name}/Save/
ExecStop=aws s3 sync /home/${username}/Zomboid/db s3://${bucket}/${server_name}/db/

[Install]
WantedBy=multi-user.target
Alias=pzserver
